body {
    text-align: center;
    background: #000;
    color: red;
}

#click-btn {
    color: inherit;
    border: none;
    border-radius: 20px;
    padding: 20px 40px;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 0px 0px 1px rgb(118, 69, 69);
}

.para {
    font-size: 2.5rem;
    font-weight: bold;
}