* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'DS-DIGI';
    src: url(DS-DIGI.TTF);
} 

.container {
    color: white;
    min-height: 100vh;
    background: #d5dbc8; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.scoreboard {
   display: flex;
    justify-content: center;
    gap: 20px;
    background: #000d35;
    min-height: 30vh;
    min-width: 20vw;
    border-radius: 12px;
    border: 5px solid white;
    padding: 20px 30px;
}

.title {
    font-size: 2rem;
}

.score {
    font-family:'DS-DIGI',sans-serif ;
    color: red;
    height: 120px;
    width: 120px;
    background: #000;
    text-align: center;
    font-size: 7rem;
}

.btn {
    margin-top: 15px;
    padding: 5px;
    color: rgb(255, 255, 255);
    outline: none;
    border: 1px solid rgb(219, 215, 215);
    background: #d5dbc800;
    margin:15px 17px 0 0 ;
}