* {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    background-image: url("images/table.png");
    background-size: cover;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.black-jack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    color: white;
}

h1 {
    color: goldenrod;
    font-size: 4rem;
    margin-bottom: 50px;
}

p {
   
    font-size: 1.8rem;
    margin-bottom: 20px;
}

#message-el {
    font-style: italic;
}

.btn {
    width: 300px;
    padding: 10px 0px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #016f32;
    background: goldenrod;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;

}