* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* green color  */

input {
    display: block;
    width: 100%;
    border: 2px solid #5f9341;
    outline: none;
    margin-bottom: 5px;
    padding: 10px 10px;

}

button {
    font-weight: bold ;
    padding: 10px 30px;
    background: #5f9341;
    border: none;
    outline: none;
    color: white;
    text-shadow: 0px 0px 1px black;

}