*{
    margin: 0;
    padding: 0;
}

.container {
    color: red;
    background: #000;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

input {
    border: none;
    outline: none;
    margin:0 auto;
    border-radius: 10px;
    padding: 10px 20px;
    background: gray;
}

input::placeholder {
    color: black;
    font-weight: bold;
    font-size: 14px;
}

#submit-btn {
    padding: 10px 0;
    width: 210px;
    border-radius: 10px;
    background: green;
    outline: none;
    border: none;
    margin: 10px 0 20px 0;
    font-weight: bold;

}

#greeting {
    font-size: 20px;
}