* {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 50vh;
    background: #000;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#name {
    border: none;
    border-radius: 10px;
    padding: 7px 11px;
    outline: none;
}

#name::placeholder {
    color: inherit;
    font-weight: 500;
    font-size:16px ;
}

.btn {
    width: 200px;
    padding: 5px 0px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background: green;
    color: white;
    text-shadow: 0px 0px 1px black;
}

#char-para {
    color: rgba(10, 200, 247, 0.923);
    font-weight: bold;
    font-size: 1.2rem;
}