* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    color: red;
    background:rgb(0, 0, 0) ;
}

#count-click {
    font-size: 40px;
}

.btn {
    padding: 5px 10px;
    border: none;
    background: pink;
    border-radius: 10px;
    text-shadow: 0px 0px 1px gray;
}