* {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 50vh;
    color: red;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#present-title {
    font-size: 2rem;
}

.btn {
        padding: 7px 15px;
        background: green;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        font-size: 1.2rem;
}

#present-para, #absent-para {
    color: blue;
    font-size: 1.2rem;
    font-weight: 800;
}