*{
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background: #000;
    color: red;
    min-height: 100vh;
    
}

.teams {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    padding: 2px 5px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background: rgb(76, 200, 76);
    font-weight: bold;
}

